@import "tailwindcss";
@import "../assets/fonts/general-sans/css/general-sans.css";

@theme {
    --font-display: "Bricolage Grotesque", "sans-serif";
    --font-body: "GeneralSans-Variable";
    --font-sans: "GeneralSans-Variable", "sans-serif";

    --color-*: initial;
    --color-primary: #5409DA;
    --color-primary-light: #8DD8FF;
    --color-secondary: #0D9276;
    --color-tertiary: #FFF100;
    --color-background: #fbfbfb;
    --color-body: #333333;
    --color-border: #e7e7e7;
    --color-muted: #7a7a7a;
    --color-black: #000000;
    --color-accent: #f9f9f9;
    --color-white: #ffffff;
}