@import "tailwindcss";
@import "../assets/fonts/general-sans/css/general-sans.css";

@theme {
    --font-display: "Bricolage Grotesque", "sans-serif";
    --font-body: "GeneralSans-Variable";
    --font-sans: "GeneralSans-Variable", "sans-serif";

    --color-*: initial;
    --color-primary: #27187e;
    --color-primary-light: #758bfd;
    --color-secondary: #ff8600;
    --color-secondary-light: #fcbf49;
    --color-tertiary: #aeb8fe;
    --color-background: #f1f2f6;
    --color-body: #333333;
    --color-border: #e7e7e7;
    --color-muted: #7a7a7a;
}