---
const {title, variant} = Astro.props;

const base = "relative z-10 flex flex-row px-3 py-1 font-display text-sm font-medium lowercase rounded-full";

const variants = {
    primary: "bg-primary text-background",
    secondary: "bg-secondary-light text-body",
    tertiary: "bg-tertiary text-body",
    outline: "text-body border border-border bg-border",
    blur: "text-body bg-transparent backdrop-blur-2xl border border-[#e7e7e730]",
};

const styles = `${base} ${variants[variant] || variant.primary}`;
---

<!-- @component START: Badge -->
<div class={styles}>{title}</div>
