---
import Icon from "heroicons-astro/Heroicon.astro";

const {title, link, variant = "primary", size = "normal"} = Astro.props;

const base = "relative z-10 flex flex-row font-display rounded-xl text-sm font-bold w-fit capitalize outline-2 outline-dashed outline-offset-2 active:outline-offset-3 cursor-pointer";

const variants = {
    primary: "bg-primary text-background outline-black",
    secondary: "bg-secondary text-body outline-secondary",
    link: "bg-transparent text-body hover:underline !outline-none",
    tertiary: "bg-tertiary text-body outline-black",
    blur: "text-body bg-transparent backdrop-blur-2xl outline-black",
};

const sizes = {
    normal: "px-2 py-1",
    large: "px-3 py-1.5",
};

const styles = `${base} ${variants[variant] || variants["primary"]} ${sizes[size] || sizes["normal"]}`;
---

<!-- @component START: Button -->
<a href={link}>
    <button class={styles}>
        <span>{title}</span>
        <Icon iconCode="arrow-up-right" customClasses="h-6 w-6"/>
    </button>
</a>