---
import Icon from "heroicons-astro/Heroicon.astro";

const {title, link, variant = "primary", size = "normal"} = Astro.props;

const base = "flex flex-row px-3 py-1.5 font-display text-sm font-medium w-fit lowercase hover:outline-1 hover:outline-primary hover:outline-offset-2 active:outline-offset-3 cursor-pointer";

const variants = {
    primary: "bg-primary text-background",
    secondary: "bg-secondary text-body",
    link: "bg-transparent text-body hover:underline",
    tertiary: "bg-tertiary text-body border-2 border-secondary",
};

const sizes = {
    normal: "px-3 py-1.5",
    large: "px-6 py-3",
};

const styles = `${base} ${variants[variant] || variants["primary"]} ${sizes[size] || sizes["normal"]}`;
---

<!-- @component START: Button -->
<a href={link}>
    <button class={styles}>
        <span>{title}</span>
        <Icon iconCode="arrow-up-right" customClasses="h-6 w-6"/>
    </button>
</a>