---
import Icon from "heroicons-astro/Heroicon.astro";

const {title, link, variant = "primary", size = "normal"} = Astro.props;

const base = "relative z-10 flex h-8 flex-row font-display rounded-xl text-sm font-bold w-fit capitalize outline-2 outline-dashed outline-offset-2 active:outline-offset-3 cursor-pointer before:ease overflow-hidden transition-all before:absolute before:right-0 before:top-1/2 before:-translate-y-1/2 before:h-36 before:w-9 before:translate-x-12 before:rotate-12 before:bg-background before:opacity-70 before:duration-400 hover:before:-translate-x-40";

const variants = {
    primary: "bg-primary text-background outline-black",
    secondary: "bg-secondary text-body outline-secondary",
    link: "bg-transparent text-body hover:underline !outline-none",
    tertiary: "bg-tertiary text-body outline-black",
    blur: "text-body bg-transparent backdrop-blur-2xl outline-black",
};

const sizes = {
    normal: "px-2 py-1 !h-fit",
    large: "px-3 py-1.5",
};

const styles = `${base} ${variants[variant] || variants["primary"]} ${sizes[size] || sizes["normal"]}`;
---

<!-- @component START: Button -->
<a href={link}>
    <button class={styles}>
        <span>{title}</span>
        <Icon iconCode="arrow-up-right" customClasses="h-6 w-6"/>
    </button>
</a>