---
import Button from "../components/Button.astro";
---

<footer class="flex flex-col justify-center items-center p-12">
    <Button link="https://www.linkedin.com/in/moisreis/" title="LinkedIn" variant="link"/>
    <Button link="https://github.com/moisreis" title="GitHub" variant="link"/>
    <Button link="mailto:jacobina.moreira.reis@gmail.com" title="jacobina.moreira.reis@gmail.com"
            variant="link"></Button>
</footer>