---
import Button from "../components/Button.astro";
---

<footer class="flex flex-col justify-center items-center p-12 bg-secondary-light rounded-t-3xl gap-6">
    <Button link="https://www.linkedin.com/in/moisreis/" title="LinkedIn" variant="secondary"/>
    <Button link="https://github.com/moisreis" title="GitHub" variant="secondary"/>
    <Button link="mailto:jacobina.moreira.reis@gmail.com" title="jacobina.moreira.reis@gmail.com"
            variant="secondary"></Button>
</footer>