---
const title = Astro.props.title;
const text = Astro.props.text;
const name = Astro.props.name;
---

<!-- @component START: Heading -->
<div class="flex flex-col justify-start relative z-10">
    {name && (<span class="font-display text-base text-left text-primary font-light mb-6">{name}</span>)}
    {title && (<h1 class="font-sans text-7xl text-left w-1/2 font-medium mb-12">{title}</h1>)}
    {text && (<p class="font-sans text-xl text-left w-1/2 text-muted">{text}</p>)}
</div>