---
const number = Astro.props.number;
const name = Astro.props.name;
const text = Astro.props.text;
---

<!-- @component START: ProcessCard -->
<li class="flex flex-col gap-3 p-6 outline-3 bg-white outline-border outline-dashed rounded-2xl boxShadow first:rotate-3 last:-rotate-3 rotate-animation">
    <span class="font-display text-lg text-primary font-medium p-3 rounded-full bg-tertiary-light w-12 h-12 flex flex-row justify-center items-center">{number}</span>
    <h3 class="text-lg font-medium font-display text-primary">{name}</h3>
    <p class="text-lg text-muted font-sans">{text}</p>
</li>

<style>
    .boxShadow {
        box-shadow: var(--shadow-card) var(--color-secondary);
    }
</style>