---
const title = Astro.props.title;
const price = Astro.props.price;
const text = Astro.props.text;
---

<!-- @component START: ServiceCard -->
<div class="p-12 outline-3 bg-white outline-secondary outline-dashed rounded-2xl boxShadow">
    <h3 class="text-lg font-display font-medium mb-3">{title}</h3>
    <p class="text-base text-muted mb-6">{text}</p>
    <p class="text-base font-medium text-body">A partir de <span class="uppercase font-bold">{price}</span></p>
</div>

<style>
    .boxShadow {
        box-shadow: 12px 12px 0px #8DD8FF;
    }
</style>