---
const title = Astro.props.title;
const price = Astro.props.price;
const text = Astro.props.text;
---

<!-- @component START: ServiceCard -->
<div class="p-12 border border-border bg-[#ffffff]">
    <h3 class="text-lg font-display font-medium mb-3">{title}</h3>
    <p class="text-base text-muted mb-6">{text}</p>
    <p class="text-base font-medium lowercase text-primary font-light">_a partir de <span class="uppercase font-bold">{price}</span></p>
</div>